body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #ff1493;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Unbounded', cursive;
}


h1 {
    font-family: 'Unbounded', cursive;
    font-size: 48px;
}



.kembali {
    background-color: #ff1493;
    color: #fff;
    padding: 2rem 1rem;
}
.kembali a {
    color: #ff1493;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
}